.page {
    display: flex;
}

.video-container {
    display: flex;
    flex-direction: column;
}

video {
    border: 1px solid black;
    display: block;
}

.output {
    display: flex;
    overflow-x: auto;
}

.scene {
    display: flex;
    box-sizing: border-box;
}

.scene_active {
    border: 2px solid red;
}

.fastDiv_active {
    border: 2px solid red;
}

.scene:hover {
    border: 2px solid greenyellow;
}

.fast-output {
    display: flex;
    flex-direction: row;
}

.fastDiv {
    background-color: blue;
    /*margin-left: 5px;*/
    flex-grow: 1;
}

.fastDiv:hover {
    background-color: black;
}

.fastDiv::before {
    content: ".";
    visibility: hidden;
}

.inaccurate-output {
    display: flex;
    flex-direction: row;
}

.inaccurate-output_div {
    flex-grow: 1;
}

.inaccurate-output_div:hover {
    border: 2px solid greenyellow;
}

.width {
    width: 100%;
}