p {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 16px);
}

.button {
    display: none;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.video-container {
    display: flex;
    flex-direction: column;
}

video {
    border: 1px solid black;
    display: block;
}

.output {
    display: flex;
    overflow-x: auto;
    height: fit-content;
    overflow-y: hidden;
}

.output::before {
    content: ".";
    visibility: hidden;
}

.scene {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.scene_active {
    border: 2px solid red;
}

.fastDiv_active {
    border: 2px solid red;
}

.navigation:hover {
    border: 2px solid greenyellow;
}

.fast-output {
    display: flex;
    flex-direction: row;
}

.fastDiv {
    background-color: blue;
    /*margin-left: 5px;*/
    flex-grow: 1;
}

.fastDiv:hover {
    background-color: black;
}

.fastDiv::before {
    content: ".";
    visibility: hidden;
}

.inaccurate-output {
    display: flex;
    flex-direction: row;
}

.inaccurate-output_div {
    flex-grow: 1;
}

/*.inaccurate-output_div:hover {*/
/*    border: 2px solid greenyellow;*/
/*}*/

.width {
    width: 100%;
}

.scene-selector {
    padding-top: 22px;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow-y: scroll;
    /*width: 15%;*/
}

.scene-selector::-webkit-scrollbar {
    display: none;
}

.scene-selector__scene {
    margin-top: 10px;
}

.scene-selector__scene:first-of-type {
    margin-top: 0;
}

.scene-selector__span {
    margin-right: 10px;
    /*width: 44px;*/
    cursor: pointer;
}

.scene-selector__label {
    display: flex;
    justify-content: space-between;
}

.scene-selector__input {
    max-width: 65%;
}

.popup {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 19px;
    margin-left: 10px;
    visibility: hidden;
    /*width: 165px;*/
    min-width: 17vw;
}

.popup_show {
    visibility: visible;
}

.popup__title {
    font-size: initial;
    font-weight: normal;
    margin-block: 0;
    height: 22px;
}

.popup__label {
    display: flex;
}

.popup__input {
    width: 100%;
}


.scene-list__container {
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: fit-content;
    /*overflow: hidden;*/
    width: 6vw;
    white-space: nowrap;
}

.popup__button {
    background: #4285f4;
    border: 1px solid gray;
    border-radius: 2px;
    margin-top: 18px;
    color: white;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
}

.scene-list__img {
    width: 6vw;
    height: auto;
    border-radius: 5px;
}

.scene-list {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* overflow-y: scroll; */
    /* height: 51vh; */
    overflow-x: scroll;
    /* margin-left: 22px; */
    /*padding-top: 22px;*/
    width: 100%;
    /*height: 26vh;*/
}

.scene-list__title {
    margin: 2px 0;
    min-height: 20px;
}

.scene-list__container:hover {
    border: 2px solid greenyellow;
    cursor: pointer;
}

.scene-list__container_active {
    border: 2px solid red;
}

.video-blur-container {
    position: relative;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: .7;
    background-color: gray;
    visibility: visible;
}

.hided-video {
    display: none;
}

.lazy-video {
    display: none;
}

.navigation {
    display: flex;
    box-sizing: border-box;
}

.scene-and-button-container {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin-right: 10px;
}

.scene-list-and-output-container {
    display: flex;
    overflow-x: hidden;
    /*width: 61%;*/
    flex-direction: column;
    justify-content: flex-end;
}
